<?xml version="1.0" encoding="UTF-8"?>
<!-- 引入约束 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 组件扫描配置（注解扫描） -->
	<context:component-scan base-package="com.cdr" />

	<!-- 引入db.properties配置文件 -->
	<context:property-placeholder
		location="classpath:db.properties" />

	<!-- 配置datasource连接池 -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 配置连接池属性 -->
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- 配置sqlSessionFactory工厂 -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 配置 sqlSessionFactory的属性 mybatis的核心文件SqlMapConfig.xml -->
		<property name="configLocation"
			value="classpath:SqlMapConfig.xml" />
		<!-- 配置dataSource数据源 -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- mapper动态代理开发方式，扫描包的配置 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--配置mapper代理开发的属性 配置mapper接口 每个mapper代理对象的id就是类名，首写字母小写 -->
		<property name="basePackage" value="com.cdr.mapper"></property>
	</bean>

</beans>